test/

vpp/build-root/.ccache
vpp/build-root/build-*/
vpp/build-root/install-*/
vpp/build-root/tools
vpp/build-root/dpdk-includes/
vpp/build-root/packages-vpp/
vpp/build-root/path_setup
vpp/build-root/build-config.mk
vpp/build-root/deb/debian/vpp-plugins/
vpp/build-root/*.deb
vpp/build-root/*.rpm
vpp/build-root/*.changes 
vpp/build-root/test-doc/
vpp/build-root/test-cov/
vpp/build-root/python/
vpp/build-config.mk
vpp/dpdk/*.tar.gz 
vpp/dpdk/*.tar.xz
vpp/path_setup
vpp/tools/

# Autotools
*/*/autom4te.cache/
vpp/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.guess
config.sub
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
missing
stamp-h1
ltmain.sh
ylwrap
test-driver

.cproject
*.iml
.bootstrap.ok
*/.settings
*/.DS_Store
*/.idea/
*/.project

# Cscope

vpp/cscope.*
vpp/tags
ID
TAGS

# ggtags
GPATH
GRTAGS
GTAGS

#Generated docs
vpp/build-root/docs
vpp/build-root/.doxygen-bootstrap.ok
vpp/build-root/.doxygen-siphon.dep

*.BAK

# Python
**/*.pyc
vpp/src/vpp-api/python/build
vpp/src/vpp-api/python/dist
vpp/src/vpp-api/python/vpp_papi.egg-info
vpp/src/vpp-api/python/vpp_papi/memclnt.py
vpp/src/vpp-api/python/vpp_papi/vpe.py

vpp/test/*.ok
vpp/src/scripts/vppctl-cmd-list




